Python Examples

Python Syntax

In [1]:
print("Hello, World!")

Hello, World!

In [2]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [3]:
"""This is a
multiline docstring."""
print("Hello, World!")

Hello, World!

In [4]:
#Python Variables
# create a variable
x = 5
y = "John"
print(x)
print(y)

5
John

In [5]:
#create both text and a variable
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [6]:
#add a variable to another variable
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [7]:
#Python Numbers
#verify the type of an object
x = 1
y = 2.8
z = 1j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [8]:
#create integers
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [9]:
#create floating point numbers
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [10]:
#create scientific numbers with an "e" to indicate the power of 10
x = 35e3
y = 12E4
z = z = -87.7e100
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [11]:
#create complex numbers
x = 3+5j
y = 5j
z = -5j
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [12]:
#Python Casting
#casting integers
x = int(1)
y = int(2.8)
z = int("3")
print(x)
print(y)
print(z)

1
2
3

In [13]:
#casting floats
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [14]:
#casting strings
x = str("s1")
y = str(2)
z = str(3.0)
print(x)
print(y)
print(z)

s1
2
3.0

In [15]:
#Python Strings
#get the character at position 1 of a string
a = "Hello World"
print(a[1])

e

In [16]:
#substring. get the character from position 2 to position 5(not included)
a = "Hello World"
print(a[2:5])

llo

In [17]:
#remove whitespace from the begining or at the end of a string.
a = " Hello World "
print(a.strip())

Hello World

In [18]:
#return the length of a string
a = "Hello, World!"
print(len(a))

13

In [19]:
#conver a string to lowercase
a = "HELLO WORLD"
print(a.lower())

hello world

In [20]:
#conver a string to upper casr
a = "Hello World!"
print(a.upper())

HELLO WORLD!

In [21]:
#replace a string with another string
a = "Hello World!"
print(a.replace("H","J"))

Jello World!

In [22]:
#split a string into substrings
a = "Hello, World!"
b = a.split(",")
print(b)

['Hello', ' World!']

In [23]:
#Python Operators
#Addition Operator
x = 5
y = 3

print(x + y)

8

In [24]:
#Subtraction Operator
x = 5
y = 3

print(x - y)

2

In [25]:
#Multiplication Operator
x = 5
y = 3

print(x * y)

15

In [26]:
#Division Operator
x = 12
y = 3

print(x / y)

4.0

In [27]:
#Modulus Operator
x = 5
y = 2

print(x % y)

1

In [28]:
#Assignment Operator
x = 5

print(x)

5

In [29]:
#Python Lists
#Create a list
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [30]:
#Acess the list items
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [31]:
#change the values of a list items
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [32]:
#Loop through a list
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

In [33]:
#check if a list items exists
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
    print("yes, 'apple' is in the list")
else:
    print("no")

yes, 'apple' is in the list

In [34]:
#get the length of a list
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [35]:
#add an item to the end of a list
thislist = ["apple", "banana", "cherry"]
thislist.append("berry")
print(thislist)

['apple', 'banana', 'cherry', 'berry']

In [36]:
#add an itme at a specific index
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [37]:
#remove an item
thislist = ["apple", "banana", "cherry"]
thislist.remove("apple")
print(thislist)

['banana', 'cherry']

In [38]:
thislist

['banana', 'cherry']

In [39]:
#remove the last item
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [40]:
#remove the item in a specific index
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [41]:
#empty a list
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [42]:
#using the list() construct to make a list

In [43]:
thislist = list(("apple", "banana", "cherry"))
print(thislist)

['apple', 'banana', 'cherry']

In [44]:
#Python Tuples
#create a tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [45]:
#access tuple items
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [46]:
#change tuple values
thistuple = ("apple", "banana", "cherry")
thistuple = list(("apple", "banana", "cherry"))
print(thistuple)

['apple', 'banana', 'cherry']

In [47]:
type(thistuple)

list

In [48]:
thistuple = ['apple', 'banana', 'cherry']
thistuple[1] = "orange"
thistuple

['apple', 'orange', 'cherry']

In [49]:
thistuple = tuple(['apple', 'orange', 'cherry'])

In [50]:
print(thistuple)

('apple', 'orange', 'cherry')

In [51]:
type(thistuple)

tuple

In [52]:
#loop through the tuple
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [53]:
#check if a tuple item exists
thistuple = ("apple", "banana", "cherry")
if "banana" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

else:
    print("no")

Yes, 'apple' is in the fruits tuple

In [54]:
#get the length of a tuple
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [55]:
#del a tuple
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) 
#this will raise an error because 
#the tuple no longer exists

NameError: name 'thistuple' is not defined

In [ ]:
thistuple = list(("apple", "banana", "cherry"))
print(thistuple)

In [ ]:
del thistuple[0]

In [ ]:
print(thistuple)

In [ ]:
print(thistuple)

In [ ]:
type(thistuple)

In [ ]:
#using the tuple constructor to create a tuple
thistuple = tuple(("apple", "banana", "cherry"))
print(thistuple)

In [ ]:
#Python Sets
#create a set
thisisset = {"apple","banana","cherry"}
print(thisisset)

In [ ]:
#loop through a set
thisisset = {"apple","banana","cherry"}
for i in thisisset:
    print(i)

In [ ]:
#check if an item exists
thisisset = {"apple","banana","cherry"}
print("banana" in thisisset)

In [ ]:
#add an item to a set
thisisset = {"apple","banana","cherry"}
thisisset.add("orange")
print(thisisset)

In [ ]:
#add multiple item to a set
thisisset = {"apple","banana","cherry"}
thisisset.update(["orange","berry"])
print(thisisset)

In [ ]:
#get the length of a set
thisisset = {"apple","banana","cherry"}
print(len(thisisset))

In [ ]:
#remove an item in a set
thisisset = {"apple","banana","cherry"}
thisisset.remove("banana")
print(thisisset)

In [ ]:
#remove an item in a set by using the discard() method
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

In [ ]:
#remove the last item in a set by using pop() method.
thisset = {"apple", "banana", "cherry"}

thisset.pop()

print(thisset)

In [ ]:
#empty a set
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

In [ ]:
#del a set

del thisset
print(thisset)thisset = {"apple", "banana", "cherry"}

In [ ]:
#using the set() constructor to create a set
thisset = set(("apple", "banana", "cherry"))
print(thisset)
# Note: the set list is unordered, so the result will display the items in a random order.

In [ ]:
#Python Dictionaries
#create a dictionary
thisisdict = {
    "brand" : "Ford",
    "Model" : "Mustang",
    "Year" : "1964"
}
print(thisisdict)

In [ ]:
#access the items of a dictionary
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

In [ ]:
#change the value of specific item ina dictionary.
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict)

In [ ]:
#print all key names in a dictionary, one by one
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
    print(x)

In [ ]:
#print all values() in a dictionary, one by one
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
    print(thisdict[x])

In [ ]:
#loop through both keys an values, by using the items() function
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x, y in thisdict.items():
    print(x,y)

In [ ]:
#check if a key exists
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if 'model' in thisdict:
    print("yes,'model is one of the keys in the thisdict dictionary'")

In [ ]:
#get the length of a dictionary
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(len(thisdict))

In [ ]:
#add an item to a dictionay
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

In [ ]:
#empty a dictionat
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

In [ ]:
thisdict = dict(brand="Ford", model="Mustang", year=1964)
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(thisdict)

In [ ]:
#Python If ... Else
#the if statement
a = 33
b = 200
if b > a:
    print("b is greater than a")

In [ ]:
#the elif statement
a = 33
b = 33
if b > a:
    print("a is grater than a")
elif a == b:
    print("a is equal to b")

In [ ]:
#the else statement
a = 200
b = 33
if b > a:
    print("a is grater than a")
elif a == b:
    print("a is equal to b")
else:
    print("a is greater than b")

In [ ]:
#short hand if
a = 200
b = 33
if a>b: print("a is greater than b")

In [ ]:
#short hand if... else
a = 200
b = 330
print("A") if a > b else print("B")

In [ ]:
#the and keyword
a = 200
b = 33
c = 500
if a>b and c>a:
    print("both conditions are true")

In [ ]:
#the or keyword
a = 200
b = 33
c = 500
if a>b or a>c:
    print("At least one of the conditions is True")

In [ ]:
#Python While Loop
#the while loop
i = 1
while i < 6:
    print(i)
    i+=1

In [57]:
#using the break statement in a while loop
i=1
while i<6:
    print(i)
    if (i==3):
        break
    i=i+1

1
2
3

In [58]:
#using the continue statement in a while loop
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

# Note that number 3 is missing in the result

1
2
4
5
6

In [59]:
#Python For Loop
#create for function
fruits = ["apple", "banana", "cherry"]
for i in fruits:
    print(i)

apple
banana
cherry

In [60]:
#loop through a string
for x in "banana":
    print(x)

b
a
n
a
n
a

In [66]:
#using the break statement in for loop
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == 'banana':
        break

apple
banana

In [74]:
#using the continue statement in for loop
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == 'banana':
        continue
    print(x)

apple
cherry

In [ ]:
#using the range() function in a loop

In [75]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [76]:
#else in for loop
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [77]:
#nested for loop
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
    for y in fruits:
        print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [1]:
#Python Functions
#create and call functions
def my_function():
    print("hello from a function")
my_function()

hello from a function

In [3]:
#function parameters
def myfunction(fname):
    print(fname + "Refsnes")
myfunction("email")
myfunction("Tobias")
myfunction("Linus")

emailRefsnes
TobiasRefsnes
LinusRefsnes

In [11]:
#default parameter values
def myfunction(country = "Norway"):
    print("I Am from " + country)
    
myfunction("India")
myfunction("Africa")
myfunction("Sweden")
myfunction()

I Am from India
I Am from Africa
I Am from Sweden
I Am from Norway

In [14]:
#let a function return a value
def myfunction(x):
    return 5 * x
print(myfunction(3))
print(myfunction(5))
print(myfunction(9))

15
25
45

In [17]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [4]:
#lamda 
#A lambda function that adds  10 to the number passed  in as an argument.
x = lambda a : a+10
print(x(5))

15

In [7]:
# A lambda function that multiples argument a with argument b
x = lambda a,b : a*b
print(x(5,6))

30

In [10]:
#A lambda function that sums arguments a,b,c
x = lambda a,b,c : a+b+c
print(x(5, 6, 2))

13

In [12]:
#Python Arrays
#create an array
cars = ["Ford", "Volvo", "BMW"]
print(cars)

['Ford', 'Volvo', 'BMW']

In [13]:
type(cars)

list

In [14]:
#Access the elements of an array
cars = ["Ford", "Volvo", "BMW"]
x=cars[0]
print(x)

Ford

In [16]:
#Change the value of an array element
cars = ["Ford", "Volvo", "BMW"]
cars[0] = 'Toyoto'
print(cars)

['Toyoto', 'Volvo', 'BMW']

In [18]:
#Get the length of an array
cars = ["Ford", "Volvo", "BMW"]
print(len(cars))

3

In [19]:
#loop through all elements of an array
cars = ["Ford", "Volvo", "BMW"]
for x in cars:
    print(x)

Ford
Volvo
BMW

In [21]:
#add an element to an array
cars = ["Ford", "Volvo", "BMW"]
cars.append("Toyoto")
print(cars)

['Ford', 'Volvo', 'BMW', 'Toyoto']

In [25]:
#remove an element from an array
cars = ["Ford", "Volvo", "BMW"]
cars.pop(1)
print(cars)

['Ford', 'BMW']

In [1]:
#Python Classes and Objects
#Create a class
class Myclass:
    x = 5
print(Myclass)

<class '__main__.Myclass'>

In [4]:
#create an object
class Myclass:
    x = 5
    
p1 = Myclass()
print(p1.x)

5

In [12]:
#the __int__() function
class Person:
    def __init__(self, name,age):
        self.name = name
        self.age = age
    
p1 = Person("Nanu", 5)
print(p1.name)
print(p1.age)

Nanu
5

In [23]:
#Create objects methods
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def myfunc(self):
        print("Hello my name is " + self.name)
p1 = Person("Name", 5)
p1.myfunc()

Hello my name is Name

In [25]:
#The self parameter
class Person:
  def __init__(mysillyobject, name, age):
     mysillyobject.name = name
     mysillyobject.age = age
  def myfunc(abc):
    print("Hello my name is " + abc.name)
    
p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [37]:
#modify object properties
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)
    
p1 = Person("Nanu", 4)
p1.age = 5
print(p1.name)
print(p1.age)

Nanu
5

In [38]:
#Delete object properties
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)
    

p1 = Person("John", 36)
del p1.age
print(p1.age)

AttributeError: 'Person' object has no attribute 'age'

In [30]:
#delete an Object
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)

del p1
print(p1)

NameError: name 'p1' is not defined

In [31]:
#__str__()

class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"    

p1 = Person("John", 36)

print(p1)

John(36)

In [2]:
#Python Iterators
#Return an iterator from a tuple
mytuple = ("apple","banana","cherry")
myit = iter(mytuple)
print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [3]:
#Return an iterator from a string
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

In [4]:
#Loop through an itarator
mytuple = ("apple", "banana", "cherry")
for x in mytuple:
    print(x)

apple
banana
cherry

In [6]:
#create an iterator
class MyNumbers:
    def __iter__(self):
        self.a = 1
        return self
    def __next__(self):
        x = self.a
        self.a += 1
        return x
    
myclass = MyNumbers()
myiter = iter(myclass)
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

In [8]:
#stop iteration
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration
    
myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
#Python Modules